@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    color: black;
}

h1 {
    font-size: 40px;
    margin: 20px 0px 15px;
}

h2 {
    margin: 20px 0px;
}

h3 {
    margin: 0px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #606C38;
}

a:hover {
    color: #6e832b;
}

label {
    margin: 0px 10px 0px 0px;
}

input {
	padding: 2px 7px;
	min-width: 250px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

textarea {
    font-family: 'Poppins', sans-serif;
	padding: 2px 7px;
	width: 300px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

select {
	padding: 2px 7px;
	width: 300px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 20px;
    background-color: #DDA15E;
    box-shadow: 0px 3px 6px 0px #aa600bab;
}

button {
    font-weight: bold;
    color: #000000 !important;
    padding: 11px 27px;
    border-radius:11px;
    outline: none;
    background: #829449;
}

button:hover {
    color: #000000 !important;
    background: #718042;
}

.navbar-link {
    color: black;
    border: 1px black;
}

.homepage-link {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    padding: 1px 0px;
}

.input-label-div {
    display: flex;
    width: fit-content;
    margin: 5px 0px;
}

.shelf-container {
    margin: 20px;
}

.user-shelf {
    display: flex;
}

.shelved-book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px 20px;
    max-width: 175px;
    flex-wrap: wrap;
    text-align: center;
}

.shelf-book-cover {
    height: 250px;
    justify-self: flex-start;
}

.search-results-container {
    display: flex;
    margin-top: 15px;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 580px;
    margin: 10px;
}

.results-title {
    margin: 5px;
    padding: 0px;
    text-align: center;
}

.results-author {
    margin: 0px;
    padding: 0px;
}

.results-authors {
    text-align: center;
    margin-bottom: 10px;
}

.results-isbns {
    margin: 5px 0px;
    text-align: center;
}

.results-cover {
    height: 250px;
}

.results-description {
    display: flex;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.show-title {
    padding: 0px 25px;
    margin: 15px 0px 0px;
}

.show-authors {
    padding: 0px 25px;
    margin: 0px 0px 15px;
}

.show-cover {
    height: 400px;
    width: 267px;
    padding: 0px 35px;
}

.shelf-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    height: 200px;
    justify-content: space-evenly;
}

.delete-form {
    display: flex;
    justify-content: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    height: 250px;
    justify-content: space-evenly;
    gap: 5px;
}

.show-details {
    padding: 25px 25px 0px;
}

.show-description {
    padding: 25px;
}

.show-categories {
    padding: 0px 25px;
}

#homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#navbar-title {
    color: black;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#search-button {
    margin-top: 10px;
    align-self: center;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#results-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google-books-link {
    padding: 25px
}

#user-books-h1 {
    margin: 0px 25px;
}
