@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    color: black;
}

a {
    text-decoration: none;
    color: #606C38;
}

a:hover {
    color: #6e832b;
}

input {
	font-size: 14px;
	padding: 2px 7px;
	width: 300px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

textarea {
	font-size: 14px;
	padding: 2px 7px;
	width: 300px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

select {
	font-size: 14px;
	padding: 2px 7px;
	width: 300px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

nav {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 10px 20px;
    background-color: #DDA15E;
    box-shadow: 0px 3px 6px 0px #aa600bab;
}

button {
    font-weight: bold;
    color: #000000 !important;
    font-size: 14px;
    padding: 11px 27px;
    border-radius:11px;
    outline: none;
    background: #829449;
}

button:hover {
    color: #000000 !important;
    background: #718042;
}

#homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

#search-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    align-items: flex-start;
    margin-left: 60px;
}

#search-button {
    margin-top: 10px;
    width: 100px;
    align-self: center;
}
