@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #483939;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

nav {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    background-color: #333;
}

#search-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    align-items: flex-start;
    margin-left: 60px;
}

#search-button {
    margin-top: 10px;
    width: 100px;
    align-self: center;
}
